/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Leckerli+One');


//common
.container-fluid{
  padding: 0;
}

//groups index page navbar


.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
  .navbar-header{
    margin-top: 5px;
    margin-left: 16px;
    .navbar-brand{
      color:#666;
      font-size:25px;
      padding-top: 17px;
      &:hover,&:focus{
        text-decoration: none;
        color:rgba(30,204,149,0.86);
        background-color: #fff;
      }
    }
  }
  .navbar-nav > li > a {
    color:#666;
    &:hover,&:focus{
      color:rgba(30,204,149,0.86);
    }
  }
  p{
    font-size:40px;
    font-family: 'Leckerli One', cursive;
    color:rgba(30,204,149,0.86);
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 2px;
  }
  .navbar-right {
    margin-right: 0px;
    font-size: 16px;
    .dropdown {
      padding-top: 5px;
      padding-bottom: 5px;
      img {
          background-color: white;
          border: 1px solid #d9d9d9;
          border-radius: 15px;
          -moz-border-radius: 15px;
          -webkit-border-radius: 15px;
          height: 30px;
          width: 30px;
          overflow: hidden;
      }
    }
  }
  .navbar-nav > .open > a {
    background-color: #fff !important;
    color: #666;
  }
  .dropdown-menu > li > a {
    color:#666;
    &:hover,&:focus{
      text-decoration: none;
      color:rgba(30,204,149,0.86);
      background-color: #fff;
    }
  }
  .btn{
    border-radius: 3px;
    height: 37px;
    width: 92px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0 !important;
    line-height: 32px !important;
  }
  a.btn.log-in-btn {
    border: 1px solid rgba(30,204,149,0.86);
    background-color: transparent;
    margin: 14px 5px 14px 15px;
    color: rgba(30,204,149,0.86);
    &:hover{
      color: rgba(30,204,149,0.86);
    }
  }
  a.btn.sign-up-btn {
    border: 1px solid #1ecd97;
    background-color: rgba(30,204,149,0.86);
    margin: 14px 0 14px 15px;
    color: #fff;
    &:hover{
      background-color: rgba(30,204,149,0.86);
      color: #fff;
    }
  }
}
